
@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard</h2>

<fieldset>
    <legend> User DashBoard </legend>


    <text>
    Welcome @Session["UserName"].ToString() </text>
    @*Welcome @Session["LisPersonNameFull"].ToString() < /text>*@

    </fieldset>  